<div *ngIf="userData">
  <div class="row d-flex justify-content-around gap-1 mb-2">
      <div class="col-6 gray-display text-capitalize d-flex flex-row">
        <div class="col-8">
          {{userData.name}}
        </div>
        <div class="col-12">
            <button class="btn dropdown-toggle color-primary" type="button" (click)="toggleDropMenu()"style="padding-top: 0px;">
              <i class="bi bi-list "></i>
            </button>
            <div class="" >
              <ul *ngIf="dropMenu" class="menu">
                <li class="calculator"><a href="/dashboard" class="text-white"> <i class="bi bi-list "></i>Calculator</a></li>
                <li class="calculator"><a href="/transactions/{{userData.id}}" class="text-white"> <i class="bi bi-list "></i>Transactions</a></li>
                <li class="logout"><a (click)="logout()" class="text-white"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
            </ul></div>

        </div>

      </div>

      <div class="col-5 gray-display  text-capitalize ">credit: {{credit}}</div>

  </div>

</div>
