<div class="calculator container">
  <!-- <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div> -->
  <app-top-screens></app-top-screens>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

    <div class="calculators d-flex flex-row">
      <div class="screen col-11">
        <input type="string" pattern="[0-9]+(\.[0-9]+)?"  id="display" class="form-control mb-3 operator" placeholder="Write your operation" [(ngModel)]="display">
      </div>
      <div class="col-md-1">
        <button class="expand-button" (click)="goToTransactions()">
          ▼
        </button>
      </div>

    </div>
    <div class="screen">
      <!-- Contenido de la pantalla aquí -->
    </div>
    <div class="buttons row">
      <ng-container *ngFor="let button of buttons">
        <div class="col-3 mb-2">
          <button class="btn btn-primary btn-calculator" [ngClass]="{'btn-selected': selected[button.value]}"  (click)="handleClick(button.value)" [attr.value]="button.value">
            {{ button.displayName }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>
